@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
* {
	margin: 0;
	padding: 0;
	font-family: Lato, sans-serif;
}
body {
	background: #313236;
}
section {
	float: left;
	background-color: #FFF;
	width: 100%;
	padding: 10px;
}
section:first-child{
	text-align: center;
	font-weight: 700;
	font-size: 30px;
	color: #FFF;
	background-color: #16A085;
}
section:nth-child(2){
	background-color: #1ABC9C;
	padding-left: 0;
}
section:nth-child(3) {
	background-color: #313236;
}
section:nth-child(4){
	background-color: #313236;
	height: auto;
}
.clear {
	clear: both;
	float: none;
}
.chart {
	width: 100%;
	height: 700px;
}
.tweet {
	margin: 40px 0px 40px 0px;
}
.text {
	color: #FFF;
	font-size: 21px;
	line-height: 25px;
}
.profile {
	padding: 0;
	margin: 2px 15px 0px 0px;
	height: 50px;
	width: 50px;
	border-radius:50%;
	float: left;
}
.image {
	padding: 0;
	height:77.5px;
	width:20%;
	float: left;
}
.modal-dialog {
  width: 96%;
  height: 96%;
  margin: 20px;
  padding: 20px;
}
.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  overflow: auto;
}

.modal-title {
	text-align: center;
}

#visualisation {
	text-align: center;
}

.modal-title {
	font-size: 50px;
}